@import "tailwindcss";

:root {
  --background: #282423;
  --foreground: #f5f0ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-eocs-gold: #ad8231;
  --color-eocs-dark: #3f3938;
  --color-eocs-light: #f5f0ec;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-orbitron);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
